
<form action="{% url 'polls:vote' question.id %}" method = "POST" >
    {% csrf_token %}
    <fieldset>
        <legend>{{question.text}}</legend> 
        {% if error_message %}
        <p> <strong> {{error_message}}</strong> </p> {% endif %}

        {% for c in question.choice_set.all %}
            <div>
                <input type = "radio" name = "choice" value = "{{c.id}}">
                <label for ="c.id"> {{c.choice}}</label>
            </div>
        {% endfor %}

    </fieldset>
    <input type = "submit" value = "vote">
    
</form>